/* Global Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures navbar stays above other content */
  background-color: #333;
  width: 100%;
  padding: 10px;
}

.links-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.section-padding {
  padding: 50px 0;
}
/* Intro content */

.intro-img-container {
  width: 450px;
  height: 250px;
  overflow: hidden;
}

.intro-section {
  padding-left: 30px;
  padding-right: 30px;
}

.intro-content-container {
  display: flex;
  align-items: center; /* or stretch */
  gap: 30px;
}

.intro-img-container img {
  max-width: 100%;
  height: auto; /* Maintains aspect ratio */
  max-height: 100%; /* Ensures image doesn't exceed container height */
}

.intro-text {
  flex: 1; /* Takes remaining space */
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
